<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>insta485</title>
</head>

<body style="width: 800px;">
    <div>
        <a href="/"><img src="/static/images/logo.png" alt="insta logo"></a>
        <p class="topnav-item">
            <a href="/explore/">explore</a>|<a href="/users/{{user.username}}/">{{user.username}}</a>
        </p>
        <hr>
    </div>

    <p><img class="profilepic" src="{{url_for('uploads', filename=user.filename)}}" alt="pic">
        <b>{{user.username}}</b>
    </p>

    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" />
        <input type="text" name="fullname" value="{{user.fullname}}" required />
        <input type="text" name="email" value="{{user.email}}" required />
        <input type="submit" name="update" value="submit" />
        <input type="hidden" name="operation" value="edit_account" />
    </form>


    <a href="/accounts/password/">Change password</a><br>
    <a href="/accounts/delete/">Delete account</a>

</body>

</html>