<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>insta485</title>
</head>

<body style="width: 800px;">
    <div>
        <a href="/"><img src="/static/images/logo.png" alt="insta logo"></a>
        <p class="topnav-item">
            <a href="/explore/">explore</a>|<a href="/users/{{logname}}/">{{logname}}</a>
        </p>
        <hr>
    </div>

    <form action="/accounts/?target=/accounts/password/" method="post" enctype="multipart/form-data">
        <input type="password" name="password" required />
        <input type="password" name="new_password1" required />
        <input type="password" name="new_password2" required />
        <input type="submit" name="update_password" value="submit" />
        <input type="hidden" name="operation" value="update_password" />
    </form>

    <a href="/accounts/edit/">Back to edit account</a>

</body>

</html>